/* movie site structure part 1 */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
}
nav ul li, a{
    list-style: none;
    display: inline;
    float: right;
    text-decoration: none;
    padding-right: 10px;
    color: rgb(43, 0, 82);
    text-transform: capitalize;
    margin-top: 10px;

}
nav ul li a:hover{
    color: rgb(255, 255, 255);
}
.imgsize{
    height: 100px;
    width: 100px;
    float: left;
    padding: 20px;
    margin-top:-9px;
}
#movieheader{
    height: 70px;
    background-image: none;
    background-color:  rgb(188, 213, 192);
    margin-top: -5px;
}
.movielogo{
    height: 90px;
    width: 90px;
    float: left;
    padding: 20px;
    margin-top: -46px; 
}
#moviebody{
    background-image: none;
    background-color: rgb(19, 34, 17);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 20px;
    color: aliceblue;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 250px;
    text-align: center; 
}

.product h3 {
  margin-top: 10px;
}

.product .price {
     font-weight: bold;
    color: green;
    margin-top: 10px;
}
video{
    height: 200px;
    width: 100%;
}
button{
    border: none;
    background-color: rgb(24, 115, 53);
    padding: 10px;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: green;
}
footer{
    background-color: black;
    color: #ffffff;
    height: 157px;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
#footercontent{
    float: left;
    padding: 40px;
    border-radius: 30px;
}